{% extends 'base.html' %}

{% block title %}About AOT{% endblock title %}
{% block head %}
  {{ super() }}
{% endblock  %}
{% block body %}

		
<div class="header1">
  About AOT 
</div>

<div>

<ol>
  <li>
    <h4>Knowledge and Expertise</h4>
    <p>Our team is made up of worldwide road connoisseurs who have lived, worked, and explored the nooks and crannies of remote lands and love to cater and deliver take-your-breath-away moments from endless local possibilities</p>
  </li>
  <li>100% Tailored Experiences
    <p>We start with a conversation to understand your likes, passions, and curiosities. AOT trips are built from the ground up, designing your “what, when & how” based on your own style with thoughtfulness, care, and attention to detail.</p>
  </li>
  <li>Peace of Mind
    <p>Meticulously planned and gracefully executed programs. Escrowed accounts,clear and straightforward crafting. And the value of a savvy and responsive operations team on call 24/7.</p>
  </li>
  <li>Insider Perks
    <p>When AOT designs your journey, we open a portfolio of personal connections, leading you to exquisite encounters with people and places. We unlock inspiring and un-googleable experiences.  </p>

  </li>
  <li>Connect &amp; Care
    <p>We believe by traveling, we learn about the world. We help you connect with nature and cultures. We respect the communities we visit and commit to giving back through conscientiously vetted social initiatives. </p>
  </li>
</ol>
</div>

{% endblock  %}
 