

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" type="../image/png" href="{{ url_for('static',filename='favicon.ico' )}}"/>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/app.css' )}}">
{#  <link rel="stylesheet" href="{{ url_for('static',filename='css/util.css' )}}">#}
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap" rel="stylesheet">

<!-- 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Montserrat:wght@200;300;400&display=swap" rel="stylesheet"> -->
 
  <!-- <script src="../static/simpleParallax.js"></script>  -->
  <script src="../static/app.js"></script> 
   
  {% block head %}
    <title>{% block title %}{% endblock title %} -  AOT </title>
  {% endblock head %}
  
</head>
<body>

  <header class="primary-header flex">
  <img class="logo" id="logoImage" src="{{ url_for('static',filename='img/logo.png' )}}" alt="AOT logo">

  <nav class="navbar">

    <button class="nav-toggle" id="nav-toggle"></button> 
            
    <ul class="main-nav flex" id="main-nav" data-visible="false">
        <li class="nav-link-active">
            <a href="/" class="nav-links">Home</a>
        </li>
        <li>
          <a href="{{ url_for('where') }}" class="nav-links">Destinations</a>
        </li>
        <li>
          <a href="{{ url_for('experience') }}" class="nav-links">Experience</a>
        </li>
        
        <li>
          <a href="{{ url_for('expect') }}" class="nav-links">What To Expect</a>
        </li>
        <li>
          <a href="{{ url_for('about') }}" class="nav-links">About</a>
        </li>
        <li>
            <a href="{{ url_for('contact') }}" class="nav-links">Contact</a>
        </li>

    </ul>
  </nav>	
</header>
  {% block body %}
  {% endblock body %}
  
  <script>
    let mainNav = document.getElementById('main-nav');
    let navBarToggle = document.getElementById('nav-toggle');
  
    navBarToggle.addEventListener('click', function () {
        mainNav.classList.toggle('nav-active');
        navBarToggle.classList.toggle('nav-toggle-active');

    });
  </script>
  
</body>
</html>