{% extends 'base.html' %}

{% block title %} {{ data["title"] }} {% endblock title %}
{% block head %}
  {{ super() }}
{% endblock  %}
{% block body %}

<style>
  .photo-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
  }

/* Medium screens */
@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }
  .card-wide {
    grid-column: span 2 / auto;
  }
}
</style>

<div class="header1">
    {{ data["title"] }}
</div>   


  <div class="main-image-div">
    <img class="mainImage" src="{{ url_for('static',filename='img/' +  name  + '.jpg' )}}" alt="{{ name }}">
  </div>

  {% if map_file %}
    <img class="map-img" src="{{ url_for('static',filename='img/' +  name  + '/' + name +'-map2.jpg' )}}">   
  {% endif %}

  <div class="dest-summary">
   
  <div class="leftContainer">
    <h2 class="descriTitle subhead1">{{ data["sub-head"] }}</h2>
    <div style="display:inline-block;">
      {% for p in paras %}
        <p class="dest-text">      
          {{ p }}
        </p>
      {% endfor %}
    </div>
  </div>

  <section class="rightContainer">
    <h2 class="subhead1">Highlights</h2>
    <section class="highlight">
      <h3>TO DO:</h3>
      <ul class="ulHighlight">
        {% for todo in todos %}
          <li class="item1">{{ todo }}</li>
        {% endfor %}
      </ul>
    </section>
    
    <section class="highlight">
      <h3>TO SEE:</h3>
      <ul class="ulHighlight">
        {% for tosee in tosees %}
          <li class="item1">{{ tosee }}</li>
        {% endfor %}
      </ul>
    </section>

    {% if links|length  %}
      <section class="highlight">
        <h3>LINKS:</h3>
        <ul class="ulHighlight">
        
          {% for link in links %}
            {% set temp_list = link.split("||") %}
            <li class="item1"><a href="{{ temp_list[0] }}">{{ temp_list[1] }}</a></li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
  </div>

   <div class="photo-grid">
        {% for i in img_files %}
        {% set type = i[-5] %}
          {% if type == 'f' %}
            <div class="card card-wide card-tall" style="background-image:url( {{url_for('static',filename='img/' +  name + '/' +  i )}}  )" ></div>
          {% elif type == 'w'%}
            <div class="card card-wide" style="background-image:url( {{url_for('static',filename='img/' +  name + '/' +  i )}}  )" ></div>
          {% elif type == 't'%}
            <div class="card card-tall" style="background-image:url( {{url_for('static',filename='img/' +  name + '/' +  i )}}  )" ></div>
          {% else%}
            <div class="card" style="background-image:url( {{url_for('static',filename='img/' +  name + '/' +  i )}}  )" ></div>
          {% endif %} 
        {% endfor %}
  </div> 

    <!-- <br> <br> <br> <br> <br> <br> 


    <div class="photo-grid">
      <div class="card card-tall card-wide" style="background-image:url('/static/img/ecuador/volcano.jpeg')">
        
      </div>
      <div class="card card-tall" style="background-image:url('/static/img/ecuador/dance.jpeg')">
        
      </div>
      <div class="card" style="background-image:url('/static/img/ecuador/cuyabeno.jpeg')">
        
      </div>
      <div class="card" style="background-image:url('/static/img/ecuador/market.jpeg')">
        
      </div>
      <div class="card" style="background-image:url('/static/img/ecuador/quito.jpeg')">
        
      </div>
       <div class="card" style="background-image:url('/static/img/ecuador/waterfall.jpeg')">
        
      </div> 
      <div class="card card-wide" style="background-image:url('/static/img/ecuador/pululahua.jpeg')">
        
      </div>
      <div class="card" style="background-image:url('/static/img/ecuador/forest-walk.jpeg')">
        
      </div>
      <div class="card card-wide" style="background-image:url('/static/img/ecuador/quito-pan.jpeg')">
        
      </div>
      <div class="card" style="background-image:url('/static/img/ecuador/indigenous-man.jpeg')">
        
      </div>
      <div class="card" style="background-image:url('/static/img/ecuador/sunset.jpeg')">
        
      </div>
      <div class="card" style="background-image:url('/static/img/ecuador/llamas.jpeg')">
        
      </div>
    </div> -->

</div>
<br><br><br><br><br><br><br><br>


{% endblock  %}
