<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/util.css' )}}"> 
  <title>Test</title>
</head>
<body>
 <div style="min-height:105%;" class="wth-100 bg-co-blue co-wht md-show">
    <h1 class=" fs-xl fw-500 center md-co-green md-fs-lg  sm-co-red sm-fs-lg">This is a test headline</h1>

    <p class="fs-lg sm-fs-md sp-3 md-fs-md fw-300 wth-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nemo et, quae temporibus ratione, enim a itaque at aperiam nam obcaecati doloribus aspernatur facilis iste dolore quo ipsa voluptatum. Tempora?

    </p>

   {# todo: this is a test #}

  </div>
 <div class="cat-card-container">

     <div class="cat-card">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi libero, obcaecati eum, natus quisquam fugiat tempore quis nesciunt eligendi voluptates, exercitationem assumenda ea corporis possimus? Dolor officia architecto quod laudantium.
     </div>
     <div class="cat-card ">

        <img class="img-wth-300 dsp-bk " src="https://www.supercasuals.com/images/carhartt/K87_blk_l.jpg" alt="jacket" />

        <div class="dsp-bk sp-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi libero, obcaecati eum,
        </div>
      </div>
      <div class="cat-card">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi libero, obcaecati eum, natus quisquam fugiat tempore quis nesciunt eligendi voluptates, exercitationem assumenda ea corporis possimus? Dolor officia architecto quod laudantium.
      </div>
      <div class="cat-card">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi libero, obcaecati eum, natus quisquam fugiat tempore quis nesciunt eligendi voluptates, exercitationem assumenda ea corporis possimus? Dolor officia architecto quod laudantium.
      </div>
  </div>
</body>
</html>