{% extends 'base.html' %}

{% block title %}Where We Go{% endblock title %}
{% block head %}
  {{ super() }}
{% endblock  %}
{% block body %}

<div class="header1">
  Where We Go
</div>
<div class="main-container">
<h1>Countries</h1>
  <div class="countries pageSection">

    <ul class="pageUL">
      <li class="ulItem" id="item1" style="background-size:cover;background-image: url({{url_for('static',filename='img/peru/dancing-f.jpg')}});">
        <a href="{{ url_for('destination',name='peru') }}">Peru</a>
      </li>

      <li class="ulItem" id="item4" style="background-size:cover;background-image: url({{url_for('static',filename='img/chile/torres2-r.jpg')}});">
        <a href="{{ url_for('destination',name='chile') }}">Chile</a>
      </li>

      <li class="ulItem" id="item2" >
        <a href="{{ url_for('destination',name='argentina') }}">
          <div style="width:200px; height:200px;background-size:cover;background-image: url({{url_for('static',filename='img/argentina/tango-r.jpg')}});">
            Argentina
          </div>
        </a>
      </li>

      <li class="ulItem" id="item5">
        <a href="{{ url_for('destination',name='ecuador') }}">
          <div style="width:200px; height:200px;background-size:cover;background-image: url({{url_for('static',filename='img/ecuador/volcano-f.jpg')}});">
            Ecuador
          </div>
        </a>
      </li>

      <li class="ulItem" id="item3">
        <a href="{{ url_for('destination',name='brazil') }}">Brazil</a>
      </li>

    </ul>
  </div>

  <h1>Destinations</h1>
  <div class="destinations pageSection">
   
    <ul class="pageUL">
      <li class="ulItem" id="item1" style="background-size:cover;background-image: url({{url_for('static',filename='img/amazon/tucan-r.jpg')}});">
        <!-- <img class="where-image" src="{{url_for('static',filename='img/amazon/tucan-r.jpg')}}"> -->
        <a href="{{ url_for('destination',name='amazon') }}">Amazon</a>
      </li>

      <li class="ulItem" id="item2" style="background-size:cover;background-image: url({{url_for('static',filename='img/galapagos/fish-r.jpg')}});">
        <a href="{{ url_for('destination',name='galapagos') }}">Galapagos</a>
      </li>

      <li class="ulItem" id="item3" style="background-size:cover;background-image: url({{url_for('static',filename='img/patagonia/fitzroy-t.jpg')}});">
        <a href="{{ url_for('destination',name='patagonia') }}">Patagonia</a>
      </li>

      <li class="ulItem" id="item4" style="background-size:cover;background-image: url({{url_for('static',filename='img/antarctica/iceberg-r.jpg')}});">
        <a href="{{ url_for('destination',name='antarctica') }}">Antarctica</a>
      </li>
      <br>
      <li class="ulItem" id="item5">
        <a href="{{ url_for('destination',name='buenos_aires') }}">
          <div style="width:200px; height:200px;background-size:cover;background-image: url({{url_for('static',filename='img/buenos_aires/city-f.jpg')}});">
           Buenos Aires
          </div>
        </a>
      </li>

      <li class="ulItem" id="item5" style="background-size:cover;background-image: url({{url_for('static',filename='img/rio/ctr-r.jpg')}});">
        <a href="{{ url_for('destination',name='rio') }}">Rio de Janeiro</a>
      </li>

      <li class="ulItem" id="item5">
        <a href="{{ url_for('destination',name='machu_pichu') }}">
          <div style="width:200px; height:200px;background-size:cover;background-image: url({{url_for('static',filename='img/machu_pichu/umbrella-r.jpg')}});">
            Machu <br> Pichu
          </div>
        </a>
      </li>




    </ul>
  </div>

</div>

{% endblock  %}
 